<!DOCTYPE html>
<html>
<head>

<style>

#drop-target-one {
	border: 5px dashed #D9D9D9;
	border-radius: 10px;
	padding: 5em 2em;
	text-align: center;
	height:100%;
	
}


section{
    padding: 2em;   
}
button{
    padding:0.3em;
    margin: 0.3em;
}



</style>



<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js"></script>
<script type="text/javascript" src="angular-fusioncharts.min.js"></script>
<script type="text/javascript" src="fusioncharts.js"></script>
<script type="text/javascript" src="fusioncharts.widgets.js"></script>
<script type="text/javascript" src="fusioncharts.theme.fint.js"></script>
<script type="text/javascript" src="myFunction1.js"></script>
<script>var test_data=null; var elementDragged=null;</script>
<script type="text/javascript" src="demo1.js"></script>
<script src="/socket.io/socket.io.js"></script>
-->

	
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js"></script>

<script type="text/javascript" src="js/controllers/angular-fusioncharts.min.js"></script>
<script type="text/javascript" src="js/controllers/fusioncharts.js"></script>
<script type="text/javascript" src="js/controllers/fusioncharts.widgets.js"></script>
<script type="text/javascript" src="js/controllers/fusioncharts.theme.fint.js"></script>
<script type="text/javascript" src="js/controllers/myFunction1.js"></script>
<script>var test_data=null;  var elementDragged = null;</script>
<script src="js/controllers/demo1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script src="js/controllers/jquery.ui.core.js"></script>
    <script src="js/controllers/jquery.ui.widget.js"></script>
    <script src="js/controllers/jquery.ui.mouse.js"></script>
    <script src="js/controllers/jquery.ui.draggable.js"></script>
    <script src="js/controllers/jquery-collision.min.js"></script>
    <script src="js/controllers/jquery-ui-draggable-collision.js"></script>
<script>
  var socket = io();
socket.on("tweet", function(notificationData) {
    // todo: add the tweet as a DOM node
	
	mychart = FusionCharts("chartobject-1");
	mychart.feedData(notificationData);
	console.log("tweet from", notificationData);
	
});


</script>


<!--
<script>

var myApp = angular.module('myApp', ["ng-fusioncharts"]);

function MainCtrl($scope) {
	$scope.count = 0;
	$scope.myRealTimeData = {
    'chart': {
        'caption': 'Real-time stock price monitor',
        'subCaption': 'Harrys SuperMart',
        'xAxisName': 'Time',
        'yAxisName': 'Stock Price',
        'numberPrefix': '$',
        'refreshinterval': '5',
        'yaxisminvalue': '35',
        'yaxismaxvalue': '36',
        'numdisplaysets': '10',
        'labeldisplay': 'rotate',
        'showValues': '0',
        'showRealTimeValue': '0',
        'theme': 'fint'
    },
    'categories': [
        {
            'category': [
                {
                    'label': 'Day Start'
                }
            ]
        }
    ],
    'dataset': [
        {
            'data': [
                {
                    'value': '37.27'
                }
            ]
        }
    ]
};

$scope.myevents = {
    dataplotclick: function (ev, props) {
        $scope.$apply(function () {
            $scope.selectedValue = props.displayValue;
        });
    },
	chartClick: function (eventObj, argsObj) {
                console.log('Chart clicked at ' + argsObj.chartX + ',' + argsObj.chartY);
    }
	
}	



}

//Directive that returns an element which adds buttons on click which show an alert on click
myApp.directive("addbuttonsbutton", function(){
	return {
		restrict: "E",
		template: "<button addbuttons>Click to add buttons</button>"
	}
});

//Directive for adding buttons on click that show an alert on click
myApp.directive("addbuttons", function($compile){
	return function(scope, element, attrs){
		element.bind("click", function(){
			scope.count++;
			console.log(scope.myRealTimeData);
			test_data = scope.myRealTimeData;
			//angular.element(document.getElementById('space-for-buttons')).append($compile("<div><button class='btn btn-default' data-alert="+scope.count+">Show alert #"+scope.count+"</button></div>")(scope));
//angular.element(document.getElementById('space-for-buttons')).append($compile("<div id='firstChart' fusioncharts=''  width='600' height='400'  type='realtimeline'  dataSource='" + scope.myRealTimeData.toString() +"'> </div>")(scope));
//angular.element(document.getElementById('space-for-buttons')).append($compile('<div fusioncharts=""  width="600" height="400"  type="realtimeline"  dataSource=' + JSON.parse(JSON.stringify(scope.myRealTimeData)) + '  id="firstChart" > </div>')(scope));
//angular.element(document.getElementById('space-for-buttons')).append($compile("<div id='firstChart' fusioncharts=''  width='600' height='400'  type='realtimeline'  dataSource='" + JSON.stringify(scope.myRealTimeData.toString()) +"'> </div>")(scope));
angular.element(document.getElementById('space-for-buttons')).append($compile("<div id='firstChart' fusioncharts=''  width='600' height='400'  type='realtimeline'  dataSource='" + JSON.stringify(scope.myRealTimeData) +"'> </div>")(scope));
		});
	};
});

//Directive for showing an alert on click
myApp.directive("alert", function(){
	return function(scope, element, attrs){
		element.bind("click", function(){
			console.log(attrs);
			alert("This is alert #"+attrs.alert);
		});
	};
});

</script>
-->

</head>


<body ng-app="myApp" ng-controller="MainCtrl">


<!--    <addbuttonsbutton></addbuttonsbutton>	-->

  
<!-- 
using jquery get this item
$("[fusioncharts='']") 

-->

<!--   
			<div fusioncharts
				width="200"
				height="200"
				type="realtimeline"
				events="myevents"
				dataSource="{{myRealTimeData}}">
			</div>
			 -->
			
			<div fusioncharts
				width="200"
				height="200"
				type="realtimeline"
				events="myevents"
				dataSource="{{myRealTimeData}}"
				draggable="true">
			</div>
			
<!--
				<div id='firstChart' 
			    fusioncharts=''
				width='600'
				height='400'
				type='realtimeline'
				events='myevents'
				dataSource='{{myRealTimeData}}'>
			</div>
-->
			
		<div id="dd-elements" class="clearfix">

			<div id="drop-target-one">

			
				
			</div>
		</div>
		
		
			
			





</body>


</html>