<!DOCTYPE html>
<html lang="en">
<head>



	<link rel="stylesheet" href="js/controllers/reset.css">
	<link rel="stylesheet" type="text/css" href="js/controllers/main.css">


<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="js/controllers/angular.js"></script>
<script type="text/javascript" src="js/controllers/angular-fusioncharts.min.js"></script>
<script type="text/javascript" src="js/controllers/fusioncharts.js"></script>
<script type="text/javascript" src="js/controllers/fusioncharts.widgets.js"></script>
<script type="text/javascript" src="js/controllers/fusioncharts.theme.fint.js"></script>
<script> var elementDragged = null;</script>
<script src="js/controllers/demo.js"></script>
<script type="text/javascript" src="js/controllers/test.js"></script>
<script type="text/javascript" src="js/controllers/svg_script.js"></script>
<script src="/socket.io/socket.io.js"></script>


<script>
var xsd;
var mychart;
//var app = angular.module("myApp", []);
var app = angular.module("myApp", ["ng-fusioncharts","test","app"]);
app.controller('MyController', function($scope) {
    //Define the `myDataSource` scope variable.
    $scope.myDataSource = {
        chart: {
            //Define the chart attributes.
			"caption": "Monthly revenue for last year",
            "subCaption": "Harry's SuperMart",
            "xAxisName": "Month",
            "yAxisName": "Revenues (In USD)",
            "theme": "fint"
        },
        data: [
            //Define the data labels and data values for the data plots.
			{
               "label": "Jan",
               "value": "420000"
            },
            {
               "label": "Feb",
               "value": "810000"
            },
            {
               "label": "Mar",
               "value": "720000"
            },
            {
               "label": "Apr",
               "value": "550000"
            },
            {
               "label": "May",
               "value": "910000"
            },
            {
               "label": "Jun",
               "value": "510000"
            },
            {
               "label": "Jul",
               "value": "680000"
            },
            {
               "label": "Aug",
               "value": "620000"
            },
            {
               "label": "Sep",
               "value": "610000"
            },
            {
               "label": "Oct",
               "value": "490000"
            },
            {
               "label": "Nov",
               "value": "900000"
            },
            {
               "label": "Dec",
               "value": "730000"
            }
        ]
    };
	
////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
		$scope.updateMyChartData = function() {
		
					var test = {label: "Test", value: "520000"};
					$scope.myDataSource.data.push(test);
					/*
					$scope.myDataSource.data[2].label = "This Label is Updated";
					$scope.myDataSource.data[2].value = "420000";
					$scope.myDataSource.data[3].label = "This is updated as well";
					$scope.myDataSource.data[3].value = "210000";
					*/		
		}
		
		$scope.updateMyChartData_new = function() {
		
					var test = {label:"13"};
					$scope.categories[0]["category"].push(test);
					$scope.dataset[0].data.push({"value": "10400"});
					$scope.dataset[1].data.push({"value": "15400"});					
					
					var test = {label:"14"};
					$scope.categories[0]["category"].push(test);
					$scope.dataset[0].data.push({"value": "10400"});
					$scope.dataset[1].data.push({"value": "15400"});
					
					var test = {label:"15"};
					$scope.categories[0]["category"].push(test);					
					$scope.dataset[0].data.push({"value": "10400"});
					$scope.dataset[1].data.push({"value": "15400"});
					
					/*
					$scope.myDataSource.data[2].label = "This Label is Updated";
					$scope.myDataSource.data[2].value = "420000";
					$scope.myDataSource.data[3].label = "This is updated as well";
					$scope.myDataSource.data[3].value = "210000";
					*/		
		}
		
		$scope.updateMyChartData_real = function(){
		
		
		               function addLeadingZero(num){
                   return (num <= 9)? ("0"+num) : num;
               }
			   
		function updateData() {
					mychart = FusionCharts("chartobject-1");
                        currDate = new Date(),
                        label = addLeadingZero(currDate.getHours()) + ":" +
                                addLeadingZero(currDate.getMinutes()) + ":" +
                                addLeadingZero(currDate.getSeconds()),
                        // Get random number between 35.25 & 35.75 - rounded to 2 decimal places
                        randomValue = Math.floor(Math.random() * 50) / 100 + 35.25,
                        // Build Data String in format &label=...&value=...
                        strData = "&label=" + label 
                                    + "&value=" 
                                    + randomValue;
                    // Feed it to chart.
                    mychart.feedData(strData);
			}
			
			               var myVar = setInterval(function () {
                   updateData();
               }, 2000);
			
			//$scope.myRealTimeData["dataset"][0]["data"].push({"value": "37.5"});
			//mychart.setJSONData({"value": "37.5"});
			//$scope.myRealTimeData["dataset"][0]["data"].push({"value": "35.5"});			
			//&value=33;			
		}
		
		
		
		
		
//////////////////////////////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*
$scope.attrs = {

    "caption": "Sales Comparison: 2013 versus 2014",
    "subCaption": "Harry’ s SuperMart",
    "numberprefix": "$",
    "plotgradientcolor": "",
    "bgcolor": "FFFFFF",
    "showalternatehgridcolor": "0",
    "divlinecolor": "CCCCCC",
    "showvalues": "0",
    "showcanvasborder": "0",
    "canvasborderalpha": "0",
    "canvasbordercolor": "CCCCCC",
    "canvasborderthickness": "1",
    "yaxismaxvalue": "30000",
    "captionpadding": "30",
    "linethickness": "3",
    "yaxisvaluespadding": "15",
    "legendshadow": "0",
    "legendborderalpha": "0",
    "palettecolors": "#f8bd19,#008ee4,#33bdda,#e44a00,#6baa01,#583e78",
    "showborder": "0"
};

$scope.categories = [{
    "category": [{
        "label": "1"
    }, {
        "label": "2"
    }, {
        "label": "3"
    }, {
        "label": "4"
    }, {
        "label": "5"
    }, {
        "label": "6"
    }, {
        "label": "7"
    }, {
        "label": "8"
    }, {
        "label": "9"
    }, {
        "label": "10"
    }, {
        "label": "11"
    }, {
        "label": "12"
    }]
}];

$scope.dataset = [{
        "seriesname": "2013",
        "data": [{
            "value": "22400"
        }, {
            "value": "24800"
        }, {
            "value": "21800"
        }, {
            "value": "21800"
        }, {
            "value": "24600"
        }, {
            "value": "27600"
        }, {
            "value": "26800"
        }, {
            "value": "27700"
        }, {
            "value": "23700"
        }, {
            "value": "25900"
        }, {
            "value": "26800"
        }, {
            "value": "24800"
        }]
    },

    {
        "seriesname": "2012",
        "data": [{
            "value": "10000"
        }, {
            "value": "11500"
        }, {
            "value": "12500"
        }, {
            "value": "15000"
        }, {
            "value": "16000"
        }, {
            "value": "17600"
        }, {
            "value": "18800"
        }, {
            "value": "19700"
        }, {
            "value": "21700"
        }, {
            "value": "21900"
        }, {
            "value": "22900"
        }, {
            "value": "20800"
        }]
    }
];
*/
//////////////////////////////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////

$scope.myRealTimeData = {
    "chart": {
        "caption": "Real-time stock price monitor",
        "subCaption": "Harry's SuperMart",
        "xAxisName": "Time",
        "yAxisName": "Stock Price",
        "numberPrefix": "$",
        "refreshinterval": "5",
        "yaxisminvalue": "35",
        "yaxismaxvalue": "36",
        "numdisplaysets": "10",
        "labeldisplay": "rotate",
        "showValues": "0",
        "showRealTimeValue": "0",
        "theme": "fint"
    },
    "categories": [
        {
            "category": [
                {
                    "label": "Day Start"
                }
            ]
        }
    ],
    "dataset": [
        {
            "data": [
                {
                    "value": "37.27"
                }
            ]
        }
    ]
};


//////////////////////////////////////////////////////////////////////////////////////////////////////////////

$scope.myevents = {
    dataplotclick: function (ev, props) {
        $scope.$apply(function () {
            $scope.selectedValue = props.displayValue;
        });
    },
	chartClick: function (eventObj, argsObj) {
                console.log('Chart clicked at ' + argsObj.chartX + ',' + argsObj.chartY);
    }
	
/*
	"initialized": function (e) {
               function addLeadingZero(num){
                   return (num <= 9)? ("0"+num) : num;
               }
               function updateData() {
                    // Get reference to the chart using its ID
                    var chartRef = FusionCharts("chartobject-1"),
                        // We need to create a querystring format incremental update, containing
                        // label in hh:mm:ss format
                        // and a value (random).
                        currDate = new Date(),
                        label = addLeadingZero(currDate.getHours()) + ":" +
                                addLeadingZero(currDate.getMinutes()) + ":" +
                                addLeadingZero(currDate.getSeconds()),
                        // Get random number between 35.25 & 35.75 - rounded to 2 decimal places
                        randomValue = Math.floor(Math.random()     
                                                  * 50) / 100 + 35.25,
                        // Build Data String in format &label=...&value=...
                        strData = "&label=" + label 
                                    + "&value=" 
                                    + randomValue;
                    // Feed it to chart.
                    chartRef.feedData(strData);
                }

               var myVar = setInterval(function () {
                   updateData();
               }, 5000);
           }
*/
	
	
}
	
	
});



</script>




<script>

  var socket = io();
socket.on("tweet", function(notificationData) {
    // todo: add the tweet as a DOM node
	
	mychart = FusionCharts("chartobject-1");
	mychart.feedData(notificationData);
	//console.log("tweet from", notificationData);
	
});


</script>


<!--
<script type="text/javascript">
var xx;
var test = {label: "Test", value: "520000"};
  FusionCharts.ready(function(){
    //var revenueChart = new FusionCharts({
	  xx = new FusionCharts({
        "type": "column2d",
        "renderAt": "chartContainer",
        "width": "400",
        "height": "300",
        "dataFormat": "json",
        "dataSource":  {
          "chart": {
            "caption": "Monthly revenue for last year",
            "subCaption": "Harry's SuperMart",
            "xAxisName": "Month",
            "yAxisName": "Revenues (In USD)",
            "theme": "fint"
         },
         "data": [
            {
               "label": "Jan",
               "value": "420000"
            },
            {
               "label": "Feb",
               "value": "810000"
            },
            {
               "label": "Mar",
               "value": "720000"
            },
            {
               "label": "Apr",
               "value": "550000"
            },
            {
               "label": "May",
               "value": "910000"
            },
            {
               "label": "Jun",
               "value": "510000"
            },
            {
               "label": "Jul",
               "value": "680000"
            },
            {
               "label": "Aug",
               "value": "620000"
            },
            {
               "label": "Sep",
               "value": "610000"
            },
            {
               "label": "Oct",
               "value": "490000"
            },
            {
               "label": "Nov",
               "value": "900000"
            },
            {
               "label": "Dec",
               "value": "730000"
            }
          ]
      }

  });

  //revenueChart.render();
  xx.render();
  //xx.args.dataSource;
})


</script>


<script>
function myFunction() {

var xx;
var test = {label: "Test", value: "520000"};
  FusionCharts.ready(function(){
    //var revenueChart = new FusionCharts({
	  xx = new FusionCharts({
        "type": "column2d",
        "renderAt": "chartContainer",
        "width": "400",
        "height": "300",
        "dataFormat": "json",
        "dataSource":  {
          "chart": {
            "caption": "Monthly revenue for last year",
            "subCaption": "Harry's SuperMart",
            "xAxisName": "Month",
            "yAxisName": "Revenues (In USD)",
            "theme": "fint"
         },
         "data": [
            {
               "label": "Jan",
               "value": "420000"
            },
            {
               "label": "Feb",
               "value": "810000"
            },
            {
               "label": "Mar",
               "value": "720000"
            },
            {
               "label": "Apr",
               "value": "550000"
            },
            {
               "label": "May",
               "value": "910000"
            },
            {
               "label": "Jun",
               "value": "510000"
            },
            {
               "label": "Jul",
               "value": "680000"
            },
            {
               "label": "Aug",
               "value": "620000"
            },
            {
               "label": "Sep",
               "value": "610000"
            },
            {
               "label": "Oct",
               "value": "490000"
            },
            {
               "label": "Nov",
               "value": "900000"
            },
            {
               "label": "Dec",
               "value": "730000"
            },
			{
               "label": "Test",
               "value": "950000"
            }
			
          ]
      }

  });

  //revenueChart.render();
  xx.render();
  //xx.args.dataSource;
})


}
</script>

-->


	<meta charset="utf-8">
	<title>Factory Visualiztion</title>
	

</head>
<body>

<!-- <button onclick="myFunction()">Click me</button> -->

	<div class="container">
	
			<h1>Factory Visualization</h1>
			<img src="js/controllers/leanware.jpe" alt="LEANWARE" style="width:150px;height:70px;">
		
		<h2>Elements</h2>
		<p>
			Drag the elements on the right into the drop area.
		</p>

		
	
		<div ng-app="myApp" ng-controller="MyController">

		<div id="dd-elements" class="clearfix">
<!--
			<ul id="drag-elements">
				<li draggable="true">Element One</li>
				<li draggable="true">Element Two</li>
				<li draggable="true">Element Three</li>
				<li draggable="true">Element Four</li>
				<li draggable="true">Element Five</li>
				
			</ul>
-->
			<div id="drop-target-one">
				<ul id="drag-elements-new">

				</ul>
				
			</div>
		</div>
		
		<h3>Drag the elements to be deleted over here.</h3>
		
		<div id="drop-target-delete">
		
		</div>
		
		
		
		
<!--		
			<div fusioncharts
			   width="600"
			   height="400"
			   type="column2d"
			   dataSource="{{myDataSource}}" >
			</div>
			
			<button ng-click="updateMyChartData()" >
					Updated Data
			</button>
-->
			
<!--		
					
			<div fusioncharts
				width="600”
				height="400"
				type="msline"
				chart="{{attrs}}"
				categories="{{categories}}"
				dataset="{{dataset}}">
			</div>

			<button ng-click="updateMyChartData_new()" >
					Updated Graph Data
			</button>
			
-->	

			<ul id="drag-elements">
				<li draggable="true">Element One</li>
				<li draggable="true">Element Two</li>
				<li draggable="true">Element Three</li>
				<li draggable="true">Element Four</li>
				<li draggable="true">Element Five</li>
				
			</ul>

			
			
    <svg-icon p="bookmark" draggable="true"></svg-icon>
    <svg-icon p="calendar" draggable="true"></svg-icon>
    <svg-icon p="camera" draggable="true"></svg-icon>
    <svg-icon p="chat" draggable="true"></svg-icon>
    <svg-icon p="check" draggable="true"></svg-icon>
	
<!--
			<div draggable="true" id="firstChart" 
			    fusioncharts
				width="600"
				height="400"
				type="realtimeline"
				events="myevents"
				dataSource="{{myRealTimeData}}">
			</div>
-->

			<div draggable="true" id="firstChart" 
			    fusioncharts
				width="600"
				height="400"
				type="realtimeline"
				events="myevents"
				dataSource="{{myRealTimeData}}">
			</div>


			
			<button ng-click="updateMyChartData_real()" >
					Updated Graph Data
			</button>

			<p>The value that you have selected is: {{ selectedValue }}</p>

			
			
			
		</div>
		
		
<!--		
		<div id="chartContainer">FusionCharts XT will load here!</div>
		<div id="chart-container">FusionCharts will render here</div>
		<div id="controllers">
			<label><input name='chart-type' id='line' type='radio' value='line' /> Line chart</label>
			<label><input name='chart-type' id='bar2d' type='radio' value='bar2d' /> Bar chart</label>
			<label><input name='chart-type' checked id='column2d' type='radio' value='column2d' /> Column chart</label>
		</div>
-->
		
<!-- 		
		<h2>Text Files</h2>
		<p>
			Drag a .txt file from your computer onto the drop target.
		</p>
-->		
		
<!--   		
		<div id="dd-files">
			Drop a .txt file here
		</div>
-->		

<!--
		<pre id="file-content"></pre>
-->	
		
	</div>
</body>
</html>
