<html lang="en"><head>
    <meta charset="utf-8">
    <title>Monitoring Screen</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="js/controllers/angular.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/library/fv-Label.js"></script>
    <script type="text/javascript" src="js/library/fv-map.js"></script>
    <script type="text/javascript" src="js/library/fv-svg.js"></script>
    <script type="text/javascript" src="js/library/gauge.min.js"></script>
    <script type="text/javascript" src="js/library/angular-canvas-gauge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>
    <script type="text/javascript" src="js/monitor/angularCodes.js"></script>
    <script type="text/javascript" src="js/monitor/main.js"></script>
        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css">
    <link rel="stylesheet" type="text/css" href="css/monitor/main.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">

</head>

<body class="ScreenAdj" id="my_body" ng-app="myApp" ng-controller="MyController" style="">
        


<script class="jsdom" src="http://code.jquery.com/jquery.js"></script><div id="backgroundDiv" class="ScreenAdj" style="background-image:url(../images/custbg.png);"></div><div class="drag-elements-li ScreenAdj" style="left: 398px; top: 125px; width: 100px; height: 100px; position: absolute; background-color: red;"></div><label for="textBox" style="font-family: 'Times New Roman'; color: black; position: absolute; display: inline-block; border: 1px solid rgb(0, 0, 0); border-radius: 3px; font-size: 14px; left: 292px; top: 271px; background-color: white;" class="ScreenAdj">{{values..}}</label><ul style="font-family: Verdana; color: black; list-style-type: none; border-style: inset; float: left; margin-left: 70px; left: 541px; top: 311px; position: absolute; width: auto; background-color: white;" class="ScreenAdj"><li ng-repeat="i in values.. | limitTo:undefined">{{i}}</li></ul><svg width="60" height="60" style="zoom: 100%; left: 524.378px; top: 248.945px; position: absolute;" class="ScreenAdj"><path d="m0,30 h15 v30 h30 V30 h15 L30,0" style="fill: white;"></path></svg><div class="ScreenAdj" id="f3749fd0-27d6-11e6-b9ea-0f62118a0e7c" style="left: 641px; top: 400px; position: absolute; width: 100px; height: 100px;"><nvd3 options="chrtOption..options" data="values...data"></nvd3></div></body></html>