<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salmiakki Forever</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/angular-circular-navigation.css">
    <link href='//fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css" />
    <link rel="stylesheet" href="css/ag-grid.css">
    <link rel="stylesheet" href="css/angular-clock.css">
    <link rel="stylesheet" href="css/industrial.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body ng-app="myApp" ng-controller="myController">
    <div class="row">
        <div class="container-fluid head">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                <Header class="header mt-top-15 mt-left-25">
                    Salmiakki Forever
                </Header>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 text-right">
                <div class="row mt-top-25">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="pn white-panel">
                            <ds-widget-clock show-digital digital-format="'dd-MMM-yyyy hh:mm:ss a'"></ds-widget-clock>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="container-fluid cust-body">
            <div>
                <circular options="options"></circular>
            </div>
        </div>
        <div class="row mt-all-15">
            <div ng-show="screens.manager">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="row row mt-top-15 mt-right-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="pn white-panel">
                                <div class="row mt-top-15">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                        <span class="fnt-20 fnt-Bold fnt-Trebuchet"> Phase Production Details </span>
                                    </div>
                                </div>
                                <div class="row mt-all-10">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <nvd3 options="barOptions" data="barData"></nvd3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-all-15">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="pn white-panel">
                                <div class="row mt-top-15">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    </div>
                                </div>
                                <div class="row mt-top-15">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                        <span class="fnt-20 fnt-Bold fnt-Trebuchet"> Total Production Details </span>
                                    </div>
                                </div>
                                <div class="row mt-top-15">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <nvd3 options="bulletOptions" data="bulletData"></nvd3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="row mt-top-15 mt-right-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="pn white-panel">
                                <div class="row mt-top-15">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div style="padding: 4px">
                                            <div style="float: right;">
                                                <input type="text" ng-model="gridOptions.quickFilterText" placeholder="Type text to filter..." />
                                            </div>
                                            <div style="padding: 4px;">
                                                <b>Employees Skills and Contact Details</b> ({{rowCount}})
                                            </div>
                                            <div style="clear: both;">
                                            </div>
                                            <div style="width: 100%; height: 700px;" ag-grid="gridOptions" class="ag-fresh ag-basic">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="screens.floor">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row mt-all-10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="pn white-panel" style="height:550px">
                                <svg width="200" height="270" style="position: absolute; top:50; left:30px">
                                    <path d="m 75,250 v-50 l-50,-25 v-150 l25,-25 h75 l25,25 v150 l-50,25 v50" style="fill:blue;stroke:black;stroke-width:1;fill-opacity:0.1;stroke-opacity:0.9"/>
                                    <text x="47" y="75" fill="black" style="font-weight:bold; font-size:25px">Tank-1</text> 
                                    <rect x="38" y="95" width="102" height="35" style="fill:white;stroke:red;stroke-width:2;stroke-opacity:0.9"/>
                                    <text x="40" y="120" fill="black" style="font-weight:bold; font-size:22px">Liquorice</text>    
                                </svg>
                                <svg width="200" height="270" style="position: absolute; top:50; left:240px">
                                    <path d="m 75,250 v-50 l-50,-25 v-150 l25,-25 h75 l25,25 v150 l-50,25 v50" style="fill:blue;stroke:black;stroke-width:1;fill-opacity:0.1;stroke-opacity:0.9"/>
                                    <text x="47" y="75" fill="black" style="font-weight:bold; font-size:25px">Tank-2</text> 
                                    <rect x="41" y="95" width="90" height="35" style="fill:white;stroke:red;stroke-width:2;stroke-opacity:0.9"/>
                                    <text x="51" y="120" fill="black" style="font-weight:bold; font-size:23px">NH4Cl</text>    
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 600 125"
                                    style="position: absolute; top:240px; left:550px" enable-background="new 0 0 100 100" xml:space="preserve">
                                    <g>
                                        <path fill="none" d="M25.313,90.725h49.375c1.842,0,3.334-1.476,3.334-3.295l6.731-30.728c0-1.818-1.493-3.294-3.333-3.294h-3.992   h-1.473v-0.001h-0.364h-8.927H54.795h-3.277h-3.536h-3.161H24.046h-0.002h-1.483h-3.979c-1.841,0-3.334,1.475-3.334,3.294   L21.98,87.43C21.98,89.249,23.472,90.725,25.313,90.725z M50,70.572c0.988,0,1.789,0.801,1.789,1.789S50.988,74.15,50,74.15   s-1.789-0.801-1.789-1.789S49.012,70.572,50,70.572z"/>
                                        <path fill="none" d="M38.962,29.256c0.207,0.207,0.423,0.309,0.629,0.274c0.1-0.017,0.189-0.066,0.271-0.142   c1.001,3.114,2.92,6.215,5.339,8.068c1.395,1.068,2.955,1.72,4.603,1.72c1.684,0,3.276-0.682,4.694-1.791   c2.376-1.86,4.259-4.923,5.248-7.998c0.082,0.076,0.171,0.125,0.27,0.142c0.178,0.031,0.363-0.04,0.543-0.193   c0.453-0.384,0.879-1.28,1.073-2.369c0.252-1.419,0.024-2.663-0.511-2.913c-0.039-0.018-0.078-0.032-0.121-0.039   c-0.165-0.029-0.337,0.032-0.506,0.164l-0.008,0.012c0-0.002-0.002-0.002-0.002-0.003c-0.002,0.001-0.004,0.003-0.006,0.004   c0-0.011,0-0.021-0.002-0.031c-0.64-2.435-1.449-3.924-2.281-4.812c-0.162-0.088-0.33-0.166-0.516-0.219   c-0.021,0.358,0.389,0.903,0.432,1.436c-1.157-0.54-2.262-1.376-3.877-1.436c-0.377-0.014-0.785-0.011-1.203-0.002   c-3.897,1.392-8.181-0.183-8.181-0.183c-4.886-0.452-5.661,4.623-5.72,5.204c-0.001,0.014-0.002,0.028-0.002,0.042   c-0.001,0-0.001,0-0.002,0c-0.173-0.139-0.351-0.205-0.52-0.175c-0.074,0.012-0.144,0.044-0.208,0.09   c-0.152,0.109-0.271,0.314-0.36,0.577c-0.048,0.682-0.08,1.374-0.088,2.088c0.009,0.066,0.015,0.13,0.028,0.197   C38.159,27.987,38.543,28.836,38.962,29.256z"/>
                                        <circle fill="#000000" cx="50" cy="72.361" r="1.789"/>
                                        <path fill="#000000" d="M78.047,92.12H21.955c-0.79,0-1.429,0.646-1.429,1.44c0,0.793,0.639,1.439,1.429,1.439h56.092   c0.789,0,1.428-0.645,1.428-1.439S78.834,92.12,78.047,92.12z"/>
                                        <path fill="#000000" d="M25.009,91.27h49.983c1.857,0,3.365-1.506,3.365-3.365l6.73-31.676c0-1.858-1.507-3.365-3.365-3.365H77.35   h-1.498c0-0.001,0-0.001,0-0.002H75.85c-0.002-0.006-0.002-0.012-0.004-0.018c-2.957-10.172-8.419-10.521-9.596-10.795   c-2.314-0.542-5.119-0.312-6.613-0.778c-0.175,1.466-4.443,6.292-7.238,9.318l-1.213-4.672c0.91-0.538,1.109-1.723,1.109-2.707   H47.7c0,0.976,0.197,2.15,1.089,2.693l-1.192,4.684c-2.797-3.025-7.062-7.85-7.238-9.316c-1.496,0.466-4.299,0.236-6.614,0.778   c-1.176,0.274-6.639,0.624-9.596,10.795c-0.001,0.006-0.001,0.012-0.003,0.018h-1.507h-4.36c-1.859,0-3.366,1.507-3.366,3.365   l6.731,31.678C21.642,89.764,23.149,91.27,25.009,91.27z M18.582,53.407h3.979h1.483h0.002h20.775h3.161h3.536h3.277h11.869h8.927   h0.364v0.001h1.473h3.992c1.84,0,3.333,1.476,3.333,3.294L78.021,87.43c0,1.819-1.492,3.295-3.334,3.295H25.313   c-1.841,0-3.333-1.476-3.333-3.295l-6.732-30.729C15.248,54.882,16.741,53.407,18.582,53.407z"/>
                                        <path d="M37.832,30.443c1.09,2.931,2.814,5.778,4.948,7.861c1.206,1.179,2.543,2.112,3.97,2.678   c0.98,0.388,2.003,0.604,3.055,0.604c1.05,0,2.074-0.216,3.054-0.604c1.476-0.585,2.857-1.565,4.097-2.802   c2.081-2.077,3.763-4.88,4.829-7.761c0.822-0.242,1.684-1.78,2.033-3.745c0.383-2.134,0.021-3.994-0.801-4.305   c0.029-0.52,0.049-1.046,0.049-1.585c-0.021-7.731-4.553-12.226-11.699-12.705C45.133,7.66,40.439,10.136,38.3,14.251   c-0.719,1.384-1.131,3.117-1.288,4.998c-0.24,0.98-0.38,1.998-0.38,3.05h0.022c0,0.009-0.002,0.017-0.002,0.025   c-0.015,0.002-0.03,0.002-0.045,0.005c-0.912,0.159-1.327,2.103-0.926,4.344C36.047,28.732,36.976,30.323,37.832,30.443z    M38.038,24.683c0.089-0.263,0.208-0.468,0.36-0.577c0.064-0.046,0.134-0.078,0.208-0.09c0.169-0.03,0.347,0.036,0.52,0.175   c0.001,0,0.001,0,0.002,0c0-0.014,0.001-0.028,0.002-0.042c0.059-0.581,0.834-5.656,5.72-5.204c0,0,4.284,1.575,8.181,0.183   c0.418-0.009,0.826-0.012,1.203,0.002c1.615,0.06,2.72,0.896,3.877,1.436c-0.043-0.533-0.452-1.078-0.432-1.436   c0.186,0.053,0.354,0.131,0.516,0.219c0.832,0.888,1.642,2.377,2.281,4.812c0.002,0.01,0.002,0.02,0.002,0.031   c0.002-0.001,0.004-0.003,0.006-0.004c0,0.001,0.002,0.001,0.002,0.003l0.008-0.012c0.169-0.132,0.341-0.193,0.506-0.164   c0.043,0.007,0.082,0.021,0.121,0.039c0.535,0.25,0.763,1.494,0.511,2.913c-0.194,1.089-0.62,1.985-1.073,2.369   c-0.18,0.153-0.365,0.224-0.543,0.193c-0.099-0.017-0.188-0.066-0.27-0.142c-0.989,3.075-2.872,6.138-5.248,7.998   c-1.418,1.109-3.01,1.791-4.694,1.791c-1.648,0-3.208-0.652-4.603-1.72c-2.419-1.853-4.338-4.954-5.339-8.068   c-0.082,0.076-0.171,0.125-0.271,0.142c-0.206,0.035-0.422-0.067-0.629-0.274c-0.419-0.42-0.803-1.269-0.984-2.288   c-0.013-0.067-0.019-0.131-0.028-0.197C37.958,26.057,37.99,25.365,38.038,24.683z"/>
                                    </g>
                                </svg>
                                <svg width="700" height="220" style="position: absolute; top:300px; left:50px">
                                    <path d="m20,100 h15 l15,10 h60 l15,-10 h15 v15 h-120" style="fill:green;opacity:0.6" />
                                    <path d="m220,100 h15 l15,10 h60 l15,-10 h15 v15 h-120" style="fill:green;opacity:0.6" />
                                    <path d="m370,50 h120 v65 h-120" style="fill:red;opacity:0.9">
                                    </path>
                                    <path d="m520,100 h15 l15,10 h60 l15,-10 h15 v15 h-120" style="fill:green;opacity:0.6" />
                                    <rect x="10" y="120" rx="40" ry="40" width="650" height="80" style="fill:white;stroke:black;stroke-width:8;opacity:0.5;stroke-dasharray: 25 10;"></rect>
                                    <circle cx="50" cy="160" r="30" stroke="black" stroke-width="3" fill="black" />
                                    <circle cx="335" cy="160" r="30" stroke="black" stroke-width="3" fill="black" />
                                    <circle cx="620" cy="160" r="30" stroke="black" stroke-width="3" fill="black" />
                                </svg>
                                <label class="fnt-20 fnt-Bold" style=" color:white; position: absolute; top:370px; left:440px"> PROCESS </label>
                                <div style="position: absolute; top:390px; left:-33px">
                                    <i></i>
                                </div>
                                <div style="position: absolute; top:390px; left:252px">
                                    <i></i>
                                </div>
                                <div style="position: absolute; top:390px; left:537px">
                                    <i></i>
                                </div>
                                <svg width="180" height="500" style="position: absolute; top:80px; left:750px">
                                    <text x="33" y="53" fill="black" style="font-weight:bold; font-size:25px">STORAGE</text>
                                    <rect x="20" y="20" width="150" height="50" style="fill:white;stroke:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9"/>
                                    <rect x="50" y="70" width="90" height="30" style="fill:white;stroke:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9"/>
                                    <rect x="20" y="100" width="150" height="350" style="fill:white;stroke:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9"/>
                                    <line x1="50" y1="150" x2="140" y2="150" style="stroke:rgb(0,0,0);stroke-width:5;stroke-opacity:0.9" /> 
                                    <line x1="50" y1="200" x2="140" y2="200" style="stroke:rgb(0,0,0);stroke-width:5;stroke-opacity:0.9" />
                                    <line x1="50" y1="250" x2="140" y2="250" style="stroke:rgb(0,0,0);stroke-width:5;stroke-opacity:0.9" />
                                    <line x1="50" y1="300" x2="140" y2="300" style="stroke:rgb(0,0,0);stroke-width:5;stroke-opacity:0.9" /> 
                                    <line x1="50" y1="350" x2="140" y2="350" style="stroke:rgb(0,0,0);stroke-width:5;stroke-opacity:0.9" />
                                    <line x1="50" y1="400" x2="140" y2="400" style="stroke:rgb(0,0,0);stroke-width:5;stroke-opacity:0.9" /> 
                               </svg>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="row mt-bot-20">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="pn white-panel" style="height:100px">
                                        <div class="row mt-all-5 mt-top-10">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="pn lightgreen-panel text-center">
                                                    <span class="fnt-30 fnt-courier fnt-Bold"> PHASE 1 </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="pn orange-panel text-center">
                                                    <span class="fnt-30 fnt-courier fnt-Bold"> SHIFT 2 </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-bot-20">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="pn white-panel" style="height:300px">
                                        <div class="row mt-all-5 mt-top-15">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="pn brown-panel text-center">
                                                    <span class="fnt-20 fnt-courier fnt-Bold"> Tank 1 </span>
                                                    <div class="industrial tank size one mt-left-15">
                                                        <span class="ticks" data-amount="4" data-scale-freq="1"></span>
                                                        <div class="space"></div>
                                                        <div class="meter"></div>
                                                    </div>
                                                    <div class="row mt-all-5">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">
                                                            <span class="fnt-15 fnt-courier fnt-Bold"> Temp </span>
                                                            <div class="industrial thermometer size one">
                                                                <span class="ticks" data-amount="10"></span>
                                                                <div class="space"></div>
                                                                <div class="meter safe"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text-center">
                                                            <span class="fnt-15 fnt-courier fnt-Bold"> Alert </span>
                                                            <div class="industrial led size one">
                                                                <div class="meter red"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="pn brown-panel text-center">
                                                    <span class="fnt-20 fnt-courier fnt-Bold"> Tank 2 </span>
                                                    <div class="industrial tank size one mt-left-15">
                                                        <span class="ticks" data-amount="4" data-scale-freq="1"></span>
                                                        <div class="space"></div>
                                                        <div class="meter safe"></div>
                                                    </div>
                                                    <div class="row mt-all-5">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">
                                                            <span class="fnt-15 fnt-courier fnt-Bold"> Temp </span>
                                                            <div class="industrial thermometer size one">
                                                                <span class="ticks" data-amount="10"></span>
                                                                <div class="space"></div>
                                                                <div class="meter safe"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text-center">
                                                            <span class="fnt-15 fnt-courier fnt-Bold"> Alert </span>
                                                            <div class="industrial led size one">
                                                                <div class="meter red"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-bot-20">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="pn white-panel text-center" style="height:100px">
                                        <span class="fnt-25 fnt-courier fnt-Bold"> Total Product Count </span>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <div id="read1" class="industrial readout size one">
                                                    <div class="meter green" data-digits="4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="screens.executive">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row mt-all-10">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="pn white-panel">
                                <div class="row mt-top-15">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    </div>
                                </div>
                                <div class="row mt-top-15">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                        <span class="fnt-20 fnt-Bold fnt-Trebuchet"> Production vs Demand </span>
                                    </div>
                                </div>
                                <div class="row mt-top-15">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <nvd3 options="cumOptions" data="cumData"></nvd3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="pn white-panel">
                                <div class="row mt-top-15">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    </div>
                                </div>
                                <div class="row mt-top-15">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                        <span class="fnt-20 fnt-Bold fnt-Trebuchet"> Company Stock Values </span>
                                    </div>
                                </div>
                                <div class="row mt-top-15">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <nvd3 options="candleOptions" data="candleData"></nvd3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/controllers/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>
    <script src="js/controllers/angular-circular-navigation.js"></script>
    <script src="js/controllers/ag-grid.min.js?ignore=notused20"></script>
    <script src="js/controllers/angular-clock.min.js"></script>
    <script src="js/controllers/industrial.js"></script>
    <script src="js/controllers/app.js"></script>
    <script src="js/controllers/angularCodes_pitch.js"></script>
</body>

</html>