<html lang="en"><head>
    <meta charset="utf-8">
    <title>Monitoring Screen</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="js/controllers/angular.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/library/fv-Label.js"></script>
    <script type="text/javascript" src="js/library/fv-map.js"></script>
    <script type="text/javascript" src="js/library/fv-svg.js"></script>
    <script type="text/javascript" src="js/library/gauge.min.js"></script>
    <script type="text/javascript" src="js/library/angular-canvas-gauge.min.js"></script>
    <script type="text/javascript" src="js/monitor/angularCodes.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--link rel="stylesheet" type="text/css" href="css/monitor/main.css"-->

</head>

<body id="my_body" ng-app="myApp" ng-controller="MyController" style="background: url(../images/background-image3.jpg) fixed no-repeat; max-width: 100%;
height: auto;
width: auto">
    


<script class="jsdom" src="http://code.jquery.com/jquery.js"></script><ul style="font-family: Verdana; color: black; padding: 0px; list-style-type: none; border-style: inset; font-size: 14px; left: 30%; top: 20%; position: fixed; background-color: rgb(255, 255, 255); width:100px"><li ng-repeat="i in phase1.productList">{{i}}</li></ul></body></html>